[extruder]
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: HE0
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 440

max_extrude_only_distance: 150.0
min_extrude_temp: 180.0