[probe]
#pin: !M4_STOP
pin: !PG15
deactivate_on_each_sample: False
x_offset: 0.0
y_offset: 0.0
#z_offset: 15.0
speed: 10.0
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
samples: 3
sample_retract_dist: 3.0
#lift_speed:
#   Speed (in mm/s) of the Z axis when lifting the probe between
#   samples. The default is to use the same value as the 'speed'
#   parameter.
samples_result: median
samples_tolerance: 0.050
samples_tolerance_retries: 5

#activate_gcode:
#    SET_VELOCITY_LIMIT ACCEL=50
#    SET_VELOCITY_LIMIT ACCEL_TO_DECEL=25
#   A list of G-Code commands to execute prior to each probe attempt.
#   See docs/Command_Templates.md for G-Code format. This may be
#   useful if the probe needs to be activated in some way. Do not
#   issue any commands here that move the toolhead (eg, G1). The
#   default is to not run any special G-Code commands on activation.
deactivate_gcode:
    G91
    G1 z30 F1800
    G90
#   A list of G-Code commands to execute after each probe attempt
#   completes. See docs/Command_Templates.md for G-Code format. Do not
#   issue any commands here that move the toolhead. The default is to
#   not run any special G-Code commands on deactivation.