## [tmc5160]

[tmc5160 stepper_a]
cs_pin: M0_UART
spi_software_sclk_pin: SPI1_SCK
spi_software_mosi_pin: SPI1_MOSI
spi_software_miso_pin: SPI1_MISO
interpolate: False
#   If true, enable step interpolation (the driver will internally
#   step at a rate of 256 micro-steps). The default is True.
run_current: 2.100
#   The amount of current (in amps RMS) to configure the driver to use
#   during stepper movement. This parameter must be provided.
# hold_current: 0.5
#   The amount of current (in amps RMS) to configure the driver to use
#   when the stepper is not moving. The default is to use the same
#   value as run_current.
sense_resistor: 0.060
#   The resistance (in ohms) of the motor sense resistor. The default
#   is 0.075 ohms.
stealthchop_threshold: 0
#   The velocity (in mm/s) to set the "stealthChop" threshold to. When
#   set, "stealthChop" mode will be enabled if the stepper motor
#   velocity is below this value. The default is 0, which disables
#   "stealthChop" mode. Try to reexperience this with tmc5160.
#   Values can be much higher than other tmcs.
#driver_IHOLDDELAY: 6
#driver_TPOWERDOWN: 10
driver_TBL: 0
driver_TOFF: 2
driver_HEND: 3
driver_HSTRT: 2
#driver_FD3: 0
driver_TPFD: 0
#driver_CHM: 0
#driver_VHIGHFS: 0
#driver_VHIGHCHM: 0
#driver_DISS2G: 0
#driver_DISS2VS: 0
#driver_PWM_AUTOSCALE: True
#driver_PWM_AUTOGRAD: True
#driver_PWM_FREQ: 0
#driver_FREEWHEEL: 0
#driver_PWM_GRAD: 0
#driver_PWM_OFS: 30
#driver_PWM_REG: 4
#driver_PWM_LIM: 12
#driver_SGT: 0
#driver_SEMIN: 0
#driver_SEUP: 0
#driver_SEMAX: 0
#driver_SEDN: 0
#driver_SEIMIN: 0
#driver_SFILT: 0

[tmc5160 stepper_b]
cs_pin: M1_UART
spi_software_sclk_pin: SPI1_SCK
spi_software_mosi_pin: SPI1_MOSI
spi_software_miso_pin: SPI1_MISO
interpolate: False
run_current: 2.100
# hold_current: 0.5
sense_resistor: 0.060
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 2
driver_HEND: 3
driver_HSTRT: 2
driver_TPFD: 0

[tmc5160 stepper_c]
cs_pin: M2_UART
spi_software_sclk_pin: SPI1_SCK
spi_software_mosi_pin: SPI1_MOSI
spi_software_miso_pin: SPI1_MISO
interpolate: False
run_current: 2.100
# hold_current: 0.5
sense_resistor: 0.060
stealthchop_threshold: 0
driver_TBL: 0
driver_TOFF: 2
driver_HEND: 3
driver_HSTRT: 2
driver_TPFD: 0

[tmc2209 extruder]
uart_pin: M3_UART
interpolate: False
# spi_software_sclk_pin: SPI_SCK
# spi_software_mosi_pin: SPI_MOSI
# spi_software_miso_pin: SPI_MISO
run_current: 0.35
# hold_current: 0.15
stealthchop_threshold: 0
